body {
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  display: flex;
  background-color: #b33900;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.nav-group {
  margin: auto;
  display: flex;
  width: 1000px;
}

#nav-bar {
  flex: auto;
}

#email {
  border: none;
  width: 300px;
  height: 100px;
  border-bottom: 1px solid black;
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 100;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo > img {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

form {
  text-align: center;
  display: block;
  padding: 10px;
}

form label {
  display: block;
}

.form-sec h2 {
  text-align: center;
  margin-bottom: 0px;
  color: white;
}

.form-sec {
  margin-top: 80px;
}

.main-content {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.headers {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 7vw;
  text-align: center;
}

/* Top page style */
.hero-image {
  background-image: url('https://res.cloudinary.com/dyaffqyuj/image/upload/v1576808217/firza-pratama-1BEAIg-79H0-unsplash-reduced_e7l98u.jpg');
  height: 500px;
  width: 100%;
  background-color: brown;
  background-position: center;
  background-size: cover;
}

.box1 img {
  width: 100%;
}

.btext {
  font-family: 'Pacifico', cursive;
  color: white;
}
.box1 {
  width: 100%;
  margin: 0 auto;
}

.box2 {
  width: 100%;
  height: fit-content;
}

.box2 img {
  width: 60%;
  display: block;
  margin: auto;
}

.box1 h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10vw;
  text-align: center;
}

/* Product style */
.products img {
  width: 60%;
  display: block;
  margin: auto;
  padding-bottom: 100px;
}

/* video style */
section #video {
  display: block;
  width: 70%;
  margin: auto;
  height: 800px;
}

/* about style */
.about {
  display: block;
  width: 70%;
  margin: auto;
  font-size: 4vw;
  line-height: 2;
}

/* media queries */
@media (min-width: 950px) {
  .header {
    max-width: 700px;
    display: flex;
  }
}

@media (max-width: 650px) {
  .navlist {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .logo {
    width: 100%;
    display: flex;
  }
  nav {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .nav-group {
    display: block;
    width: auto;
    margin: auto;
  }

  #nav-bar {
    flex: none;
  }

  .logo > img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    height: auto;
  }

  .navlist {
    padding: inherit;
  }
}
