body {
  margin: 0;
}
header {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  display: flex;
  background-color: black;
  align-items: center;
  width: 100%;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  padding: 10px;
}

form {
  text-align: center;
  display: block;
  padding: 10px;
}

form label {
  display: block;
}

.form-sec h2 {
  text-align: center;
  margin-bottom: 0px;
}

.form-sec {
  margin-top: 80px;
}

.main-content {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.headers {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  text-align: center;
}

/* Top page style */
.box1 {
  width: 100%;
  margin: 0 auto;
}

.box2 {
  width: 100%;
  height: fit-content;
}

.box2 img {
  width: 60%;
}

.box1 h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  text-align: center;
}
/* ************* */
/* Product style */
.products img {
  width: 100%;
}

/* ************* */
/* blog style */
